.p5Canvas {
  position: fixed;
  top: -1rem;
  left: -1rem;
  z-index: -10;
}

.blur {
  position: fixed;
  top: -1rem;
  left: -1rem;
  width: 110%;
  height: 110%;

  // background-image: linear-gradient($color-2, $color-2);
  backdrop-filter: blur(.5px) brightness(95%);
  z-index: -5;
  // display: none;
}



#cursor-sketch canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

// #image-sketch canvas {
//   position: relative;
//   z-index: 1;
// }